
<div class="container pb-10 mb-10">
  <h2 class="h2 text-primary"><%=@customer.name%></h2>
  <div class="row">
    <div class="col-9">
      <h5 class="h5 text-dark">Street Address</h5>
      <p class="text-info"><%= @customer.street_address%></p>

      <h5 class="h5 text-dark">State</h5>
      <p class="text-info"><%= @customer.state%></p>

      <h5 class="h5 text-dark">Country</h5>
      <p class="text-info"><%= @customer.country%></p>

      <h5 class="h5 text-dark">Postal Code</h5>
      <p class="text-info"><%= @customer.postcode%></p>

      <h5 class="h5 text-dark">Books</h5>
      <p class="text-info">
           <% @customer.books.each_with_index do |book, i| %>
              <% if i == 0 %>
                  <%= link_to book.title, book ,class:"text-success" %>
              <% else %>
                  , <%= link_to book.title, book ,class:"text-success" %>
              <% end %>
          <% end %>
      </p>

    </div>
  </div>
  <div class="row mb-10">
    <div id='map'></div>
  </div>
  <div class="row my-10">
  </div>
</div>


<script>
    var lat = <%=@customer.latitude.to_f%>;
    var lng = <%=@customer.longtitude.to_f%>;

    //alert("lat: " + lat + " lng:" + lng);
    L.mapbox.accessToken = 'pk.eyJ1IjoidGh1eW5oNTgiLCJhIjoiY2tma2w1aHY3MHRqMzJycGp1aXc4MngxcSJ9.kT_97Jguu0jfCzo477IARA';
    var map = L.mapbox.map('map')
        .setView([lat , lng], 2)
        .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

      L.marker([lat , lng], {
        icon: L.mapbox.marker.icon({
            'marker-size': 'large',
            'marker-symbol': 'marker',
            'marker-color': '#ff0000',
        })
    }).addTo(map);



//getEvents(map);

function getEvents(map) {
   alert("get the events");
  $.ajax({
    dataType: 'text',
    url: '/customers/8.json',
    success:function(events) {
      alert('siccess');
      var geojson = $.parseJSON(events);
      console.log(geojson);
      console.log('dddd');
      console.log(geojson[0].geometry.coordinates[0]);

      map.featureLayer.setGeoJSON({
        type: "FeatureCollection",
        features: geojson
      });

    },
    error:function() {

      alert("Could not load the events");
    }
  });
}




</script>





