<div class="container pb-10 mb-10">
  <h2 class="h2 text-primary">
  <%=link_to "One of Categories:", categories_path ,class:"text-primary" %>
  <%=@category.name%></h2>
  <div class="row">
    <div class="col-9">

      <h5 class="h5 text-dark">Description</h5>
      <p class="text-info"><%= @category.description%></p>

      <h5 class="h5 text-dark">Containing Books</h5>
      <p class="text-info">
           <% @category.books.each_with_index do |book, i| %>
              <% if i == 0 %>
                  <%= link_to book.title, book ,class:"text-success" %>
              <% else %>
                  , <%= link_to book.title, book ,class:"text-success" %>
              <% end %>
          <% end %>
      </p>


    </div>
  </div>

</div>

